    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    .header-banner {
        background-image: url('images/top-banner.png');
        background-repeat: no-repeat;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
    }
    
    .heaer-content {
        display: flex;
    }
    
    .header-text {
        width: 50%;
        margin-top: 50px;
    }
    
    .header-text h1 {
        font-size: 50px;
    }
    
    .header-text h2 {
        font-size: 40px;
    }
    
    .second-header-title {
        color: orange;
    }
    
    .header-text h3 {
        margin-top: 10px;
    }
    
    .header-text P {
        margin-top: 7px;
        line-height: 25px;
    }
    
    .hireme-button {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(orange, tomato);
        font-weight: 700;
        padding: 10px 40px;
        color: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 15px;
    }
    
    .header-image {
        width: 50%;
        margin-top: 60px;
    }
    
    .header-image img {
        width: 55%;
        margin-left: 45%;
    }
    
    .dream-big {
        background-image: url('images/dream-bg.png');
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .style-dream-big {
        display: flex;
        margin-top: 70px;
    }
    
    .dream-big-image {
        width: 50%;
    }
    
    .dream-big-image img {
        width: 55%;
        margin-right: 45%;
    }
    
    .dream-big-text {
        width: 50%;
    }
    
    .dream-big-text h2 {
        font-size: 40px;
        color: tomato;
        margin-bottom: 10px;
    }
    
    .dream-big-text p {
        line-height: 25px;
        margin-top: 10px;
    }
    
    .rs-download-button {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        background-image: linear-gradient(to right, tomato, #FF5CCD);
        padding: 7px 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        color: #000;
        font-weight: 550;
        margin-top: 15px;
    }