    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    .flexible-container {
        display: flex;
    }
    
    .container-fluid {
        width: 90%;
        margin: 0 auto;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    .header-banner {
        background-image: url('images/top-banner.png');
        background-repeat: no-repeat;
    }
    
    .header-text {
        width: 50%;
        margin-top: 50px;
    }
    
    .header-text h1 {
        font-size: 50px;
    }
    
    .header-text h2 {
        font-size: 40px;
    }
    
    .second-header-title {
        color: orange;
    }
    
    .header-text h3 {
        margin-top: 10px;
    }
    
    .header-text P {
        margin-top: 7px;
        line-height: 25px;
    }
    
    .hireme-button {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(orange, tomato);
        font-weight: 700;
        padding: 10px 40px;
        color: #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 15px;
    }
    
    .header-image {
        width: 50%;
        margin-top: 60px;
    }
    
    .header-image img {
        width: 55%;
        margin-left: 45%;
    }
    
    .dream-big {
        background-image: url('images/dream-bg.png');
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .style-dream-big {
        margin-top: 70px;
    }
    
    .dream-big-image {
        width: 50%;
    }
    
    .dream-big-image img {
        width: 55%;
        margin-right: 45%;
    }
    
    .dream-big-text {
        width: 50%;
    }
    
    .dream-big-text h2 {
        font-size: 40px;
        color: tomato;
        margin-bottom: 10px;
    }
    
    .dream-big-text p {
        line-height: 25px;
        margin-top: 10px;
    }
    
    .rs-download-button {
        display: inline-block;
        text-decoration: none;
        text-transform: capitalize;
        background-image: linear-gradient(to right, tomato, #FF5CCD);
        padding: 7px 15px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        color: #000;
        font-weight: 550;
        margin-top: 15px;
    }
    
    .experience-area {
        margin-top: 90px;
        background-image: url('./images/exp-bg.png');
        background-repeat: no-repeat;
        background-position: left;
    }
    
    .experience-hadding {
        font-size: 25px;
        text-transform: capitalize;
        color: #FF5CCD;
    }
    
    .experience-box {
        width: 45%;
        padding-left: 20px;
        padding-top: 20px;
        margin-top: 30px;
        box-shadow: 10px 10px 40px gray;
        padding-bottom: 30px;
    }
    
    .experience-box h2,
    h3 {
        text-transform: capitalize;
    }
    
    .experience-box h3 {
        margin-top: 15px;
        color: orange;
    }
    
    .experience-box p {
        margin-top: 7px;
    }
    
    .stack-developer {
        margin-right: 10%;
        border-left: 7px solid;
        border-image: linear-gradient(blue, #F00BA4);
        border-image-slice: 1;
    }
    
    .stack-developer h2 {
        font-size: 30px;
        color: #A020F0;
    }
    
    .baby-developer {
        border-left: 7px solid;
        border-image: linear-gradient(#E40078, #1560BD);
        border-image-slice: 1;
    }
    
    .baby-developer h2 {
        font-size: 30px;
        color: #5218FA;
    }
    
    .style-footer {
        margin-top: 100px;
        text-align: center;
    }